.candidateMessengerMainContainer {
  background: #f2f4fa;
  padding: 24px;
  height: 720px;
  overflow: hidden;
  overflow-y: scroll;
}

.candidateMessengerTitle {
  font-family: 'Montserrat' sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #162a49;
}

.searchMessagesInputContainer {
  position: relative;
}

.searchMessagesSearchBox {
  padding-left: 40px;
  margin-top: 11px;
  width: 100%;
  border: none;
}

.searchMessagesSearchBox::placeholder {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 138.5%;
  /* or 19px */

  color: #ced5df;
}

.searchMessagesInnerDiv {
  display: flex;
}

.Loading__Container {
  text-align: center;
}

.searchMessagesPlaceholderImage {
  position: absolute;
  left: 10px;
  top: 8px;
}

.noMessageDiv {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.AdminTotalChatBadge {
  margin-left: 14px;
  background-color: #14d5ee;
  border-radius: 50%;
}
.AdminSwitchComponentCustomize {
  margin-top: 15px;
}
.AdminMessagingSelectCustomize {
  background-color: #f2f4fa;
  background: url('../../../../../assets/images/icons/dropdownArrowThin.png')
    no-repeat 96% 50%;
  border-width: 0px;
  margin-bottom: 30px;
  color: #14d5ee;
  width: 50% !important;
}
