@media (max-width: 1000px) {
  .overlay-div {
    position: absolute;
    width: 100%;
    max-height: 510px;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.6);
    z-index: 7;
  }
  .headLeft {
    z-index: 22;
  }
}
@media (max-width: 1200px) {
  .headLeft-content {
    padding-left: 0;
  }
  .download-app-container {
    padding-top: 85px;
  }
}
@media (max-width: 992px) {
  .jobs-list-ul a {
    width: 100%;
  }
  .jobCardLi {
    height: 140px;
  }
  .jobs-list-ul-image img {
    width: 90px !important;
    height: 90px !important;
  }
  .jobs-card-subdetails {
    margin-right: 9px;
  }
  .RightArrowDiv {
    height: 100%;
  }
  .find-jobs-in-title h2 {
    padding-left: 10px;
  }
  .company-info {
    width: 100%;
    margin-bottom: 20px;
    height: 310px;
  }
  .check-all-companies {
    width: 100%;
    margin-bottom: 20px;
    height: 310px;
  }
  .companies-div {
    margin-top: -70px;
  }
}
