.EmployerManageJob {
  display: flex;
}

.EmployerManageJob .EmployerManageJob__Body {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: scroll;
  padding: 39px 65px 39px 47px;
  background-color: #F2F4FA;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #162A49;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #808FA6;
  padding-top: 19px;
  border-bottom: 1px solid #eaeaea;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container  {
  padding-top: 26px;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Draft,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Expired {
  margin-left: 31px;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Published,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Draft,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Expired {
  padding-bottom: 18px;
  cursor: pointer;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Published span,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Draft span,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Expired span {
  background: rgba(199, 208, 222, 0.38);
  border-radius: 50px;
  font-size: 11px;
  padding: 5px;
}


.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Published.Active,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Draft.Active,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--SubTitle .EmployerManageJob__Body--SubTitle--Expired.Active {
  color: #000;
  border-bottom: 2px solid #2EC2E2;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Published.Hide,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Draft.Hide,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Expired.Hide {
  display: none;
}

.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Published .EmployerManageJob__Body--Container--Published--ManageJobBox,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Draft .EmployerManageJob__Body--Container--Draft--ManageJobBox,
.EmployerManageJob .EmployerManageJob__Body .EmployerManageJob__Body--Container .EmployerManageJob__Body--Container--Expired .EmployerManageJob__Body--Container--Expired--ManageJobBox {
  padding-bottom: 21px;
}
