.messagesPageInnerContainer {
  padding: 0px 10px;
  display: flex;
  background: #f2f4fa;
}

/* .messagesPageMainContainer .navbar {
  padding: 5px 10px !important;
} */

.messagesPageMessengerSection {
  width: 25%;
}

.messagesPageMessengerSection select {
  width: 100%;
}

.messagesPageConversationSectionAdmin {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messagesPageJobDescriptionSection {
  width: 25%;
}

.ClickAMessageDiv {
  text-align: center;
  padding: 120px;
}

